.heart {
    animation: beat 1s ease 0s infinite alternate;
    color: red;
    font-size: 200px;
    width: 200px;
}

@keyframes beat {
    100% {
        transform: scale(1, 1);
        text-shadow: 1px 1px 20px black;
    }

    0% {
        transform: scale(0.7, 0.7);
    }
}

.block {
    display: flex;
    justify-content: center;
}
